; CARFAX VHR Feed
CF_PARTNER=
CF_LOCATIONID=
CF_MANAGEMENT_SYSTEM=
FTP_USERNAME=
FTP_PASSWORD=

; CARFAX ServiceHistory
SH_PRODUCTDATAID=
SH_LOCATIONID=

; CARFAX QuickVIN
QV_PRODUCTDATAID=
QV_LOCATIONID=

; sql-example.php database
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
